In [1]:
import pandas as pd
import numpy as np

## Get Data

In [2]:
galaxyZoo2 = r'/home/rick/Proyectos/minIA.old/notebooks/DataCharacterization/zoo2MainSpecz.csv'
df_g = pd.read_csv(galaxyZoo2)
df = df_g.sample(n=5000, random_state=1)

In [10]:
classes = [
    'dr7objid',
    't08_odd_feature_a19_ring_weighted_fraction', 
    't08_odd_feature_a20_lens_or_arc_weighted_fraction', 
    't08_odd_feature_a21_disturbed_weighted_fraction', 
    't08_odd_feature_a22_irregular_weighted_fraction', 
    't08_odd_feature_a23_other_weighted_fraction', 
    't08_odd_feature_a24_merger_weighted_fraction', 
    't08_odd_feature_a38_dust_lane_weighted_fraction',
    
    't11_arms_number_a31_1_weighted_fraction', 
    't11_arms_number_a32_2_weighted_fraction', 
    't11_arms_number_a33_3_weighted_fraction', 
    't11_arms_number_a34_4_weighted_fraction',
    
    't05_bulge_prominence_a10_no_bulge_weighted_fraction', 
    't05_bulge_prominence_a11_just_noticeable_weighted_fraction', 
    't05_bulge_prominence_a12_obvious_weighted_fraction', 
    't05_bulge_prominence_a13_dominant_weighted_fraction', 
    
    't07_rounded_a16_completely_round_weighted_fraction', 
    't07_rounded_a17_in_between_weighted_fraction', 
    't07_rounded_a18_cigar_shaped_weighted_fraction',
    
    't09_bulge_shape_a25_rounded_weighted_fraction', 
    't09_bulge_shape_a26_boxy_weighted_fraction', 
    't09_bulge_shape_a27_no_bulge_weighted_fraction',
    
    't10_arms_winding_a28_tight_weighted_fraction', 
    't10_arms_winding_a29_medium_weighted_fraction', 
    't10_arms_winding_a30_loose_weighted_fraction']

In [69]:
df2 = df[classes].copy()
df2 = df2[df2 > 0.9]
df2.columns = range( len(df2.columns))
names = df2[0]
img_class = (df2.iloc[:, 1:]
             .stack()
             .reset_index()
             .groupby(['level_0'], sort=False)['level_1']
             .apply(list))
img = pd.concat([names, img_class], axis=1)
img.columns = ['id','classes']
5000 - img['classes'].isna().sum()

3783

In [50]:
img.tail()

                         0      level_1
243384  588848899388539158         [13]
243404  587728906638721387      [3, 21]
243415  587726031701475464         [16]
243419  588015510362849499  [4, 18, 19]
243448  587731870705909895         [22]

In [43]:
debiased = [
    'dr7objid',
    't08_odd_feature_a19_ring_debiased',
    't08_odd_feature_a20_lens_or_arc_debiased',
    't08_odd_feature_a21_disturbed_debiased',
    't08_odd_feature_a22_irregular_debiased',
    't08_odd_feature_a23_other_debiased',
    't08_odd_feature_a24_merger_debiased',
    't08_odd_feature_a38_dust_lane_debiased', 
    
    't11_arms_number_a31_1_debiased', 
    't11_arms_number_a32_2_debiased', 
    't11_arms_number_a33_3_debiased', 
    't11_arms_number_a34_4_debiased',
    't05_bulge_prominence_a10_no_bulge_debiased', 
    't05_bulge_prominence_a11_just_noticeable_debiased', 
    't05_bulge_prominence_a12_obvious_debiased', 
    't05_bulge_prominence_a13_dominant_debiased', 
    
    't07_rounded_a16_completely_round_debiased', 
    't07_rounded_a17_in_between_debiased',
    't07_rounded_a18_cigar_shaped_debiased',
    
    't09_bulge_shape_a25_rounded_debiased', 
    't09_bulge_shape_a26_boxy_debiased', 
    't09_bulge_shape_a27_no_bulge_debiased',
    
    't10_arms_winding_a28_tight_debiased', 
    't10_arms_winding_a29_medium_debiased', 
    't10_arms_winding_a30_loose_debiased']

In [68]:
df2 = df[debiased].copy()
df2 = df2[df2 > 0.9]
df2.columns = range( len(df2.columns))
names = df2[0]
img_class = (df2.iloc[:, 1:]
             .stack()
             .reset_index()
             .groupby(['level_0'], sort=False)['level_1']
             .apply(list))
img_db = pd.concat([names, img_class], axis=1)
img_db.columns = ['id','classes']
5000 - img_db['classes'].isna().sum()

3799

In [71]:
img_db.tail()

                        id  classes
243384  588848899388539158      NaN
243404  587728906638721387  [3, 21]
243415  587726031701475464      NaN
243419  588015510362849499      [4]
243448  587731870705909895     [22]